{% extends 'BaseBaseBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <form role="form">
                <section class="panel">
                    <header class="panel-heading">
                        Formulário de cadastro
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div id="wizard-vertical">
                            <h2>Dados cadastrais</h2>
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="">
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Nome</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="Nome completo">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Nome da mãe</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="Nome completo">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">E-mail</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="exemplo@exemplo.com">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">CPF</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="999.999.999-99">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Data de nascimento</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="99/99/9999">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6  control-label">RG</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6  control-label">Orgão expedidor</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Data de expedição</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="99/99/9999">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Sexo</label>

                                            <select class="form-control m-bot15">
                                                <option>Masculino</option>
                                                <option>Feminino</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Nascionalidade</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>

                                    </div>
                                </div>
                            </section>

                            <h2>Contato</h2>
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="">
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Nome</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="Nome do contato">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Telefone Fixo</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="(99) 9999-9999">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Nome</label>

                                            <input type="email" class="form-control" id="inputEmail1"
                                                   placeholder="Nome do contato">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Telefone Celular</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="(99) 9999-9999">
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <h2>Endereço</h2>
                            <section>
                                <div class="panel-body">
                                    <div class="">
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">CEP</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="99999-999">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Estado</label>

                                            <select class="form-control m-bot15">
                                                <option>Goiás</option>
                                                <option>Distrito Federal</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Cidade</label>

                                            <select class="form-control m-bot15">
                                                <option>Planaltina</option>
                                                <option>Sobradinho</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Endereço</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="Endereço de instalação">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Número</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Complemento</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Bairro</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Ponto de referência</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="Perto de...">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Endereço de cobrança</label>

                                            <input type="checkbox" value="">
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <h2>Oi Fixo</h2>
                            <section>
                                <div class="panel-body">
                                    <div class="">
                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Portabilidade</label>

                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Sim

                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox2" value="option2"> Não
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Número portado</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="(99) 9999-9999">
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Produto</label>

                                            <select class="form-control m-bot15">
                                                <option>1² linha</option>
                                                <option>2² linha</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail1" class="col-lg-6 col-sm-6 control-label">Operadora origem</label>

                                            <input type="email" class="form-control" id="inputEmail1" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>

    <script>
        $(function () {
            $("#wizard-vertical").steps({
                headerTag:        "h2",
                bodyTag:          "section",
                transitionEffect: "slideLeft",
                stepsOrientation: "vertical"
            });
        });
    </script>
{% endblock %}