<ul class="sidebar-menu" id="nav-accordion">
    {% if is_granted('ROLE_SUPER') %}
        <li>
            <a href="{{ path('super_home') }}">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-user"></i>
                <span>Usu치rio</span>
            </a>
            <ul class="sub">
                <li><a href="{{ path('super_usuario') }}">Manter Usu치rio</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-user"></i>
                <span>Usu치rio</span>
            </a>
            <ul class="sub">
                <li><a href="{{ path('super_usuario') }}">Manter Usu치rio</a></li>
            </ul>
        </li>
    {% endif %}
</ul>